<ion-content>
    <ion-grid class="ion-no-padding">
        <ion-row>
            <ion-col sizeSm="12" sizeLg="4" sizeMd="6" pushSm="0" pushLg="4" pushMd="3">

                <div class="ion-text-center  logo_div">
                    <img src="assets/image/logo.png">
                    <h3 class="logo_text"><span>P</span>ay<span>P</span>ark</h3>
                    <h3 class="signin">SIGN UP</h3>
                </div>

                <form autocomplete="off">
                    <ion-item lines="none" class="item_div">
                        <ion-label position="stacked" class="lbl_name" mode="md">Name</ion-label>
                        <ion-input [(ngModel)]="modelData.name" required type="text" placeholder="Your name"
                            name="name">
                        </ion-input>
                        <strong color="danger" *ngIf="error.name">{{error.name['0']}}</strong>
                    </ion-item>
                    <ion-item lines="none" class="item_div">
                        <ion-label position="stacked" class="lbl_name" mode="md">Email</ion-label>
                        <ion-input [(ngModel)]="modelData.email" required type="text" placeholder="JohnDeo@gmail.com"
                            name="email">
                        </ion-input>
                        <strong color="danger" *ngIf="error.email">{{error.email['0']}}</strong>
                    </ion-item>
                    <ion-item lines="none" class="item_div">
                        <ion-label position="stacked" class="lbl_name" mode="md">Password</ion-label>
                        <ion-input required [(ngModel)]="modelData.password" name="password" type="Password"
                            placeholder="*  *  *  *  *  *">
                        </ion-input>
                        <ion-button slot="end" class="trans-btn">
                            <ion-icon name="eye"></ion-icon>
                        </ion-button>
                        <strong color="danger" *ngIf="error.password">{{error.password['0']}}</strong>
                    </ion-item>


                    <ion-button class="otp_btn signin_btn" mode="md" expand="full" shape="round" fill="solid"
                        (click)="login()">
                        Sign up
                    </ion-button>
                </form>
                <div class="or">
                    <h2 class="background"><span>or</span></h2>
                </div>
                <div class="last-div ion-text-center">
                    <!-- <ion-button class="facbook social">
                        <ion-icon src="assets/icon-image/facbook.svg"></ion-icon>
                    </ion-button>
                    <ion-button class="google social">
                        <ion-icon name="logo-googleplus"></ion-icon>
                    </ion-button>
                    <ion-button class="twitter social">
                        <ion-icon name="logo-twitter"></ion-icon>
                    </ion-button> -->
                    <div class="account_div">
                        <span class="text">Need an Account?</span>
                        <ion-button type="button" class="trans-btn last_button" (click)="login()">Sign in</ion-button>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>