ion-content{
    .tittle_item{
        --inner-padding-end:0px;
        --padding-end:15px;
        margin-bottom: 15px;
        .tittle{
            font-size: 16px;
            font-family: 'Rubik_Medium';
            color: var(--ion-color-darkblue);

        }
    }
    ion-item {
    
        ion-radio {
            margin-right: 18px;
            margin-left: 0px;
            --color-checked:var(--ion-color-blue);
        }
        ion-label {
            font-size: 14px;
            font-family: 'Rubik_Regular';
            color: var(--ion-color-sky)
        }
    }
    .description_div{
        .text{
            font-size: 14px;
            color: var(--ion-color-darkblue);
            font-family: 'Rubik_Medium';
        }
        ion-textarea{
            border-radius: 5px;
            border:solid 1px var(--ion-color-sky);
        }
    }
}