<ion-content>
    <ion-grid class="ion-no-padding">
        <ion-row>
            <ion-col sizeSm="12" sizeLg="4" sizeMd="6" pushSm="0" pushLg="4" pushMd="3">
                <ion-slides pager>
                    <ion-slide>
                        <div class="img_div">
                            <img src="assets/image/slide-img-1.png">
                            <h3 class="slide_name first_h3">Easy to mange your parking</h3>
                            <p class="slide_info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur,
                                obcaecati quasi sit dignissimos incidunt officiis iste magnam deserunt aut qui
                                ea laudantium possi orem ipsum dolor sit amet orem ipsum dolor sit amet

                            </p>
                        </div>

                    </ion-slide>
                    <ion-slide>
                        <div class="img_div">
                            <img src="assets/image/slide-img-2.png">
                            <h3 class="slide_name">Grow up your parking business</h3>
                            <p class="slide_info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur,
                                obcaecati quasi sit dignissimos incidunt officiis iste magnam deserunt aut qui
                                ea laudantium possi orem ipsum dolor sit amet orem ipsum dolor sit amet
                            </p>
                        </div>
                    </ion-slide>

                </ion-slides>
                <div class="ion-margin-horizontal">
                    <ion-button class="skip  otp_btn" (click)="home()">
                        Next
                    </ion-button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>