ion-content{
    .img_div{
        margin-top: 15px;

    }
    .mobile-div{
        position: absolute;
        bottom: 0;
        background-color: var(--ion-color-white);
        width: 100%;
        margin-top: 100px;
        border-radius: 20px 20px 0px 0px;
        box-shadow: 0px -1px 5px 0px rgba(52,150,255,0.16);
        padding-top: 15px;
        .tittle_div{
            margin-bottom: 50px;
            padding: 0px 15px;
              .main_tittle{
                     font-size: 20px;
                     font-family: 'Rubik_Medium';
                     color: var(--ion-color-black);
                 }
            }  
        .item_row{
            .text{
               margin-left: 10px;
               margin-right: 10px;
               font-family: 'Rubik_Medium';
               font-size: 20px;
               color: var(--ion-color-black);
           }
           .input_tag{
               --placeholder-font-style: 'Rubik_Medium';
               font-size: 19px;
               --placeholder-color:var(--ion-color-checkb);
               --placeholder-opacity:1;
               font-family: 'Rubik_Medium';
           }
   
       }
       .detail_p{
        color:var(--ion-color-checkb);
        font-size: 16px;
        font-family: 'Rubik_Regular';
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 40px;
        margin-bottom: 50px;
        
    }
    }  
}